@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #4a56e2;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(74, 86, 226, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
  }

  #app {
    padding: 0 2rem;
  }
}
